<a href="https://colab.research.google.com/github/Satyaram-k/satyaram_INFO5731_Spring2020/blob/main/In_class_exercise/In_class_exercise_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [5]:
# write your answer here
string=input("Enter a string: ")
length=0
for i in string:
  length +=1
print('length of string: ',length)

Enter a string: satyaram
length of string:  8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [7]:
# write your answer here
string=input("Enter a string: ")
dict={}
for i in string:
  keys = dict.keys()  
  if i in keys:  
    dict[i] = dict[i] + 1  
  else:  
    dict[i] = 1
print('Number of characters in given string are:\n',dict)

Enter a string: google.com
Number of characters in given string are:
 {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [18]:
# write your answer here
a=[]
le=int(input('Enter length of the list:'))
for i in range(0,le):
  a.append(int(input()))
print('Entered list: ',a)
total = sum(a)
print('Sum of all items in the list is: ',total)

Enter length of the list:2
1
1
Entered list:  [1, 1]
Sum of all items in the list is:  2

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [19]:
# write your answer here
string=input("Enter a string: ")
c = string[0]
string = string.replace (c, '$')
string = c + string [1 : ]
print('Result: ',string)

Enter a string: restart
Result:  resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [22]:
# write your answer here
a=int(input("Enter parameter 'a': "))
b=int(input("Enter parameter 'b': "))
s=3.14*((1+ a/b)**3)
print('Result: ',s)

Enter parameter 'a': 1
Enter parameter 'b': 1
Result:  25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [23]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60} 
dic4 = {**dic1,**dic2,**dic3}  
print('Result: ',dic4)

Result:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [25]:
# write your answer here
tuple = (1,2,3,4)
x = int(input('Enter element to search in tuple: '))
if x in tuple:
    print("The entered element exists in tuple")
else:
    print("The entered element does not exist in tuple")

Enter element to search in tuple: 2
The entered element exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [27]:
# write your answer here 
lis=[5, 6, 8, 1 , 2]
 
min = lis[0]    
max = lis[0] 
 
for x in lis: 
    if x > max: 
        max = x 
 
    if x < min:  
        min = x 
 
print("Minimum = ", min, " \nMaximum = ", max)

Minimum =  1
Maximum =  8

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [29]:
# write your answer here
import random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
g=1
mem=5
for i in student_list[:]:              
    if mem==5:
        print("Group {}: ".format(g))
        mem=0
        g += 1
    p=random.choice(student_list)
    print(p)
    mem = mem + 1
    student_list.remove(str(p))

Group 1:
bg0320
vm0377
aos0040
sg1297
kg0569
Group 2:
kg0470
sm1640
sa1198
sk1313
hy0232
Group 3:
ms1500
ja0964
jl1252
nv0234
vb0218
Group 4:
av0659
pr0353
ak0934
sc1229
sb1357
Group 5:
dr0609
gn0108
ds0814
ak0956
sk1458
Group 6:
sk1390
fh0141
sm1907
nm0618
sk1386

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [30]:
# write your answer here
a=[]
le=int(input('Enter length of the list:'))
for i in range(0,le):
  a.append(int(input()))
print('Entered list: ',a)
out=[]
count=0
for i in range(0,len(a)):
  for j in range(0,len(a)):
    if a[i]==a[j]:
      count+=1
  if count>1:
    out.append(a[i])
  count =0
dup = list(set(out))
if dup == []:
  print('-1')
else:
  print(dup)

Enter length of the list:5
1
2
2
3
4
Entered list:  [1, 2, 2, 3, 4]
[2]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [28]:
# write your answer here
from datetime import date, timedelta
x=int(input('Enter year: '))
def sun(year):
       dt1 = date(year, 1, 1)       
       dt1 += timedelta(days = 6 - dt1.weekday())  
       while dt1.year == year:
          yield dt1
          dt1 += timedelta(days = 7)
for sunday in sun(x):
   print(sunday)

Enter year: 2022
2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25